#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo--github {
  --shadow-color: #6e5494;
}

.logo--linkedin {
  --shadow-color: #0077b5;
}

.logo--github:hover {
  filter: drop-shadow(0 0 2em var(--shadow-color));
}

.logo--linkedin:hover {
  filter: drop-shadow(0 0 2em var(--shadow-color));
}

.counter {
  padding: 2em;
}

.references {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}